<!DOCTYPE HTML>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>Raphaël Playground in CoffeeScript</title>
<link rel="stylesheet" href="style.css" type="text/css" media="screen">
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/shell.js"></script>
<script type="text/javascript" src="js/raphael.js"></script>
<script type="text/javascript" src="js/protovis-d3.2.js"></script>
<script type="text/javascript" src="js/icons.js"></script>
<script type="text/javascript" src="js/coffee-script.js"></script>
<script type="text/coffeescript" src="coffee/render.coffee"></script>
<script type="text/coffeescript" src="coffee/events.coffee"></script>
</head>
<body onload="init()">

<div id="console">
  <div id="output">
    <div class="print">
      This is plump.
    </div>
  </div>
  <div id="input_wrap">
    <textarea id="input" wrap="off" onkeydown="inputKeydown(event)" rows="1"></textarea>
    </script>
  </div>
</div>

<div id="raphael-canvas"></div>
<div id="protovis-canvas"></div>
<canvas id="html5-canvas"></canvas>

<div id="dashboard" style="float:right;width:200px;margin:10px;position:relative;z-index:15;">
  <div class="props">
    <script type="text/template" id="input-element">
      <%= key %>:<br/> <input type="text" name="<%= key %>" value="<%= value %>" /><br/>
    </script>
    <script type="text/template" id="slider-element">
      <%= key %>:<br/> <input type="range"name="<%= key %>" value="<%= value %>" min="0" max="<%= max %>" step="<%= step %>"/><br/>
    </script>
  </div>
</div>

</div>
</body></html>
